*{
	margin: 0;
	padding: 0;
}



header,section{
	width: 100%;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

/*PAGINA PRINCIPAL*/

/*header*/

#index_ul{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	border-bottom: 1px solid gray;
	background: black;
}
#index_ul li{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5px 0;
	color: white;

}



#index_ul li a:hover{
	opacity: 0.7;
	font-size: 18px;
	position: absolute;
}

#index_ul li a{
	color: white;
}




/*navegador genero*/

.nav_genero{
	width: 100%;
	font-size: 34px;
	margin: 20px 0;
}

.ul_logo{
	margin: 20px 0;
}

.ul_logo li{
	color: #c1b497;
}

.nav_genero ul{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.nav_genero ul li a{
	font-size: 22px;
}
.nav_genero ul li {
	margin: 0px 10px;
}


.nav_genero ul li:hover hr {
	animation: genero 2s;
}

.nav_genero ul li hr {
	visibility: hidden;
	background: black;
	border: 1px solid black;
}

.li_activo a hr,.li_activo a{
	font-weight: bold;
	visibility: visible!important;

}
@keyframes genero{
	from{width: 0%;visibility: visible;}
	to{width: 100%;}
}




/*navegador categorias*/
.nav_categorias{
	display: flex;
	justify-content: center;
	border: 1px solid black;
	padding: 10px 0px;
	margin: 10px 0;
}
.nav_categorias .ul_categorias{
	display: flex;
	width: 80%;
}
.nav_categorias .ul_categorias li{
	width: 100%;
	text-align: center;
}

.nav_categorias .ul_categorias li:hover .ul_subcategoria{
	display: flex;
	font-weight: normal;

}

.nav_categorias .ul_categorias li:hover{
	font-weight: bold;
}


.ul_subcategoria{
	display: none;
 	flex-direction: column;
 	padding: 10px;
 	width: 10%;
 	position: absolute;
 	z-index: 200;
 	margin-top: -4px;
}
.ul_subcategoria li{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background: white;
	padding: 10px;
}

.ul_subcategoria li:hover::after{
	content: " »";
}


/*seccion del slogan*/

#section_slogan{
	width: 100%;
	height: 450px;
	margin-bottom: 20px;
	background: url('../img/Captura.png') no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

#section_slogan h1{
	font-family: "Helvetica";

}
#section_slogan h2{
	opacity: 0.5;
}



/*section de imaganes*/
.section_imagenes {
  perspective: 400px;
  display: flex;
}

.reversible {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 2s ease;
}

div.reversible:hover {
  transform: rotateY(180deg);
}

.reversible div {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
}
.reversible img {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
    border-radius: 50px;

}

.reversible div:after {
  content: attr(data-transitions);
  display: block;
  position: relative;
  top: 70px;
  text-align: center;
}

.cara {
  background: transparent;
  z-index: 2;
  border: 1px solid gray;
  border-radius: 50px;
}

.verso {
  background-color:  #9f8b60;
  border: 1px solid gray;
  color: white;

  transform: rotateY( 180deg);
   border-radius: 50px;

}
















/*footer*/
#footer_index{
	background: #25211e;
	width: 100%;
	margin-top: 10px;

}

#footer_index a{
	color: white;
	opacity: 0.5;
}

#footer_index a:hover{
	color: white;
	opacity: 1;
}

#footer_div{
	display: flex;
	width: 100%;
	font-size: 18px;
	padding: 30px 0;
}

#footer_div ul{
	width: 100%;
}

.footer_titulo{
	font-size: 22px!important;
	border-bottom: 1px solid white;
	color: white;
	opacity: 1!important;
}


#ul_copy{
	display: flex;
	width: 100%;
	justify-content:  center;
	padding: 20px 0;
}
/*FIN PAGINA PRINCIPAL*/








/*PRODUCTO*/

#section_producto{
	display: flex;
	width: 90%;
	margin: auto;
}
.article_producto_imagen{
	width: 100%;
	display: flex;
	text-align: center;
}

.article_producto_imagen a{
	width: 80%;
}



.article_producto_imagen img{
	width: 100%;
	border: 1px solid #ddd; 
    border-radius: 4px;
	padding: 5px;
}

#section_producto img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.article_producto_imagen div{
	width: 20%;
}

.article_producto_imagen #icono_fav{
	font-size: 32px;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 1px black;
	cursor: pointer;
}

.article_producto_imagen #icono_fav:hover{
	font-size: 38px;
	-webkit-text-fill-color: #c1b497;
	-webkit-text-stroke: 1px black;
}




.article_datos_producto{
width: 100%;
display: flex;
flex-direction: column;
}


.ul_datos_genericos{
	font-size: 20px;
}

.ul_datos_genericos .li_titulo{
	font-weight: bold;
	font-size: 30px;

}

.ul_datos_genericos .li_referencia{
	font-size: 18px;
	opacity: 0.6;
}
.ul_datos_genericos li{
	padding: 5px 0;
}

.ul_datos_genericos .btn_talla{
	width: 40px;
	height: 40px;
	color: white;
	background: #c1b497;
	font-size: 24px;
	cursor: pointer;
	border: 1px solid lightgray;
	margin: 0 10px;
}

.ul_datos_genericos .btn_talla:disabled{
	opacity: 0.7;
}
.ul_datos_genericos .btn_talla:hover:disabled{
	border: 1px solid black;
	background:  white;
	color: white;
}

.ul_datos_genericos .btn_talla:hover:disabled::before{
	content: "X";
	color: black;
	position: absolute;
}

.btn_activo{
	border: 1px solid black!important;
	color: #c1b497!important;
	background: white!important;
}

.ul_datos_genericos .btn_talla:hover{
	border: 1px solid black;
	background: #a99770;
}








#ul_añadir_producto{
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
}

#ul_añadir_producto li{
	margin: 5px 0;
}
#ul_añadir_producto button{
	width: 50%;
	padding: 10px 0;
	font-size: 24px;
	background: black;
	color: white;
	border: 1px solid black;
	cursor: pointer;

}

#ul_añadir_producto button:hover::after {
	font-family: FontAwesome;
 	content:"  \f07a";
}

#ul_añadir_producto button:hover {
	background: white;
	color: black;
}





#ul_producto_descripcion h2{
	font-size: 28px;
	border-bottom: 1px solid black;
}
#ul_producto_descripcion li{
	font-size: 22px;
	padding: 10px;
}



/*FIN PRODUCTO*/









/*PRODUCTOS*/


#section_todos_productos{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#aside_filtros{
	border: 1px solid black;
	width: 20%;
	position: fixed;
	margin-left: 80%;

}
#aside_filtros #form_filtros{
	display: flex;
	flex-direction: column;
}

#aside_filtros #form_filtros input,#aside_filtros #form_filtros select,#aside_filtros #form_filtros label{
	padding: 10px 0;
}


#aside_filtros_2{
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	justify-content: center;
}

#aside_filtros_2 select{
	width: 30%;
	height: 20px;
}

#aside_filtros_2 select:focus{
	background: #0085ba;
	color: white;
}




#section_article_productos{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}

#section_article_productos .article_producto{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 0 0 40px 20px;
	border: 1px solid gray;
	background: #c1b497;
	cursor: pointer;

}

#section_article_productos .article_producto .img_hover{
	width: 100%;
}

#section_article_productos .article_producto:hover .img_hover{
	margin: auto;
	border-radius: 300px;
	filter: saturate(150%);
}

#section_article_productos .article_producto:hover .precio_hover{
	display: block;
}

#section_article_productos .article_producto .precio_hover{
	display: none;
	color: white;
	position: absolute;
	font-size: 34px;
	padding: 5px;
}

#section_article_productos .article_producto .btn_ver_producto{
	color: white;
	background: black;
	padding: 10px 0;
	font-size: 28px;
	cursor: pointer;
	width: 100%;
}

#section_article_productos .article_producto .btn_ver_producto:hover{
	color: black;
	background: lightgreen;
	border: 1px solid green;
}
/*FIN PRODUCTOS*/
















/*USUARIO LOGUEADO*/
/*imagen perfil y carrito*/
#ul_index_logueado{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

#ul_index_logueado .icon_logueado{
	width: 10%;
}

#ul_index_logueado .icon_logueado i{
	font-size: 28px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 2px;
	cursor: pointer;
}




/* El tooltip */
.perfil_tooltip {
    background:  rgba(243,226,199,1); 
    border: 2px solid #c1b497;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
    color: black;
    display: none; 
    padding: 10px;
    position: absolute; 
    z-index: 100;  
}

.icon_logueado:hover .perfil_tooltip {
    display: inline;
}











#ul_index_logueado .icon_logueado i:hover{
	border: 1px solid black;
	background:  #b3ff99;
}

#ver_carrito:hover #carrito{
display: flex;
}

.nuevo_producto{
	position: absolute;
	font-size: 24px;
	color: green;
	opacity: 0.8;
	margin-top: -30px;
	margin-left: 32px;
}


header.carrito_header{
	width: 100%;
	border-bottom: 1px solid black;
	padding: 5px 0;
	font-size: 23px;
	margin-bottom: 10px;
    background: linear-gradient(to right , #c1b497, #ffebcc);
	border-top-right-radius: 20px;
	color: white;
}

.cantidad_elementos_carrito{
	font-family: Verdana;
	margin: 20px 0;
}

#carrito{
display: none;
flex-direction: column;
width: 30%;
border: 1px solid black;
font-size: 17px;
position: absolute;
background: white;
z-index: 20;
margin-left: -25%;
min-height: 450px;
border-top-right-radius: 20px;
}

.carrito_producto{
display: flex;
flex-direction: row;
border-bottom: 1px solid lightgrey;
margin-bottom: 10%;
}

#carrito img{
width: 90px;
height: 90px;
}

#carrito ul{
display: flex;
flex-direction: column;
}

#carrito #btn_pasar_a_caja{
	background: black;
	color: white;
	border: 1px solid black;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}


#carrito #btn_pasar_a_caja:hover::after{
	content: " €";
	font-size: 20px;
	color: gold;
}


.carrito_sin_productos{
	margin: auto;
	text-align: center;
	width: 50%;
}
/*FIN USUARIO LOGUEADO*/

























/*ADMINISTRACION*/
#ul_administracion_header{
	display: flex;
	width: 100%;
	background: #005c99;
	color: white;
	border-bottom: 1px solid gray;
	padding: 10px 0 0 0;
}
#ul_administracion_header a{
	color: white;

}

#ul_administracion_header li:nth-child(1){
	width: 80%;
}
#ul_administracion_header li:nth-child(2){
	width: 10%;
	text-align: right;
}
#ul_administracion_header li:nth-child(3){
	width: 10%;
	text-align: center;
}

.rounded{
	border: 1px solid white;
	border-radius: 20px;
}



#section_admin{
	display: flex;
}



#aside_panel_admin{
	background: #005c99;
	width: 10%;

}

#aside_panel_admin a{
	color: white;
}

#aside_panel_admin ul li{
	padding: 20px 0 0 0;
}



.submenu_panel_admin{
	display: none;
	background: #007acc;
}
.submenu_panel_admin a::after{
		content: ""!important;
}
#aside_panel_admin ul li:hover .submenu_panel_admin{
	display: block;
}

#aside_panel_admin ul li:hover{
	background: #004d80;
	border-bottom: 1px solid white;
}

.submenu_panel_admin  li:hover{
	opacity: 0.8;
	border: 0!important;
}




/*panel de administracion*/
.configuraciones_panel_admin{
	width: 90%;
	border: 1px solid black;
	background: #f1f1f1;
	text-align: center;
	display: flex;
	flex-direction: column;
}


.developed{
	font-style: italic;
	text-align: right;
}

.configuraciones_panel_admin h1{
	font-size: 24px;
}

.configuraciones_panel_admin h2{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.form_añadir_producto{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}


.form_añadir_producto input,.form_añadir_producto textarea,.form_añadir_producto select{
	padding: 10px;
	resize: none;
}
.form_añadir_producto input[type="file"]{
	border: 1px solid gray;

}
.form_añadir_producto input[type="submit"]{
	background: #0085ba;
	color: white;
	border-radius: 20px;
	width: 20%;
	margin: auto;
}

.form_añadir_producto input:focus::placeholder,.form_añadir_producto textarea:focus::placeholder{
	color: white;
}

.form_añadir_producto input:focus,.form_añadir_producto select:focus,.form_añadir_producto textarea:focus{
	background: #0085ba;
	color: white;
}



.form_oculto{
	display: none!important;
}




.tabla_scroll{
	overflow-x: scroll;
}

.tabla_muestra_elementos{
  border-spacing: 0;
  border: 2px solid #0092cc;
  width: 80%;
  margin:auto;
  border-radius: .25rem;
}
.tabla_muestra_elementos thead{
	background: #0092cc;
	color: white;
}

.tabla_muestra_elementos thead th{
	padding: 5px 15px;
}

.tabla_muestra_elementos tbody td{
	padding: 5px 15px;
  border-bottom: 2px solid #ddd;
  width: 100%;

}

.tabla_muestra_elementos tbody tr:hover{
	background: white;
	cursor: pointer;
}

.tabla_muestra_elementos tbody td img{
	width: 100%;
    height: auto;
}


.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}
/*FIN ADMINISTRACION*/








/*INICIO COMPRANDO PRODUCTOS*/

#section_comprobando_compra{
	display: flex;
	flex-wrap: nowrap;
	margin: 20px 0;
}


#section_datos_usuario{
	display: flex;
	width: 70%;
	justify-content: center;
}
#section_datos_usuario form{
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 1px solid #337ab7;
	padding: 10px;
}

#section_datos_usuario form input{
	padding: 20px 0;
	border-radius: 10px;
	margin: 10px 0;
}
#section_datos_usuario form #comprar_final{
	background: #337ab7;
	color: white;
	font-size: 24px;
}




#section_productos_compra{
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
	border: 1px solid black;
}

.article_elemento_comprar{
	border-bottom: 1px solid black;
	display: flex;
	width: 100%;
	margin: 10px 0;
}

.article_elemento_comprar img{
	max-height: 100px;
}

.a_total_final{
font-weight: bold;
}
/*FIN COMPRANDO PRODUCTOS*/



